@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.BackgroundGrade 
  {
    background: linear-gradient(
      20deg,
      #112553f8 25%,
      #18326ef8 25% 50%,
      #112553f8 50% 75%,
      #112553f8 75%
    );
  }

.ButtonBackground {
  background: linear-gradient(
    20deg,
    #112553c4 25%,
    #18326ed7 25% 50%,
    #112553c4 50% 75%,
    #112553c4 75%
  );
 
  border-radius: 50%;
}
